<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>vit market</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styleM.css') }}" />

  </head>
  <body>
    <div class="empty"></div>
    <div class="appbar">
      <h1 class="title">vit market</h1>
    </div>

    <div class="main">
      <div class="product1">
        <div class="card ">
          <div class="currentBox">
            <div class="left">
              <img class="image" src="{{ url_for('static', filename='images/product1.jpg') }}" alt="" />
            </div>
            <div class="right">
              <div class="content">
                <div class="subName">Shoes</div>
              </div>
              <div class="timeloc">
                <div class="description">Used for 2 months, pristine condition, Nike</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product2">
        <div class="card ">
          <div class="currentBox">
            <div class="left">
              <img class="image" src="{{ url_for('static', filename='images/product2.png') }}" alt="" />
            </div>
            <div class="right">
              <div class="content">
                <div class="subName">Diary</div>
              </div>
              <div class="timeloc">
                <div class="description"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product3">
        <div class="card ">
          <div class="currentBox">
            <div class="left">
              <img class="image" src="./images/product3.jpg" alt="" />
            </div>
            <div class="right">
              <div class="content">
                <div class="subName"></div>
              </div>
              <div class="timeloc">
                <div class="description"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product4">
        <div class="card ">
          <div class="currentBox">
            <div class="left">
              <img class="image" src="./images/product4.jpg" alt="" />
            </div>
            <div class="right">
              <div class="content">
                <div class="subName"></div>
              </div>
              <div class="timeloc">
                <div class="description"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <script src="./jquery-3.6.3.js"></script>
      <script src="./script.js"></script> -->
    </div>
  </body>
</html>
